{% load static %}

<html>
    <head>
    
        <title>{% block title %}ArduinoBrain{% endblock %}</title>
        
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/mdb.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
        
    </head>
    
    <body>

        <nav class="navbar navbar-expand-lg navbar-dark default-color" style="max-height: 58px">
            <a class="navbar-brand" href="{% url 'home' %}">ArduinoBrain</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                {% block navbar %}
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'home' %}">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="index.html" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Projects
                    </a>
                    <div class="dropdown-menu bg-white" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'project' 1 %}">Blink led</a>
                        <a class="dropdown-item" href="{% url 'project' 2 %}">Running led</a>
                        <a class="dropdown-item" href="#">Button</a>
                        <a class="dropdown-item" href="#">LCD Display</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                {% endblock %}
            </ul>
                
                <form class="form-inline">
                    <div class="md-form mt-2">
                        <input class="form-control mr-sm-2" id="myInput" onkeyup="filterProjects()" type="text" placeholder="Search" aria-label="Search">
                    </div>
                </form>
                
            </div>
        </nav>
        
        <h1><b>{% block header %}Arduino Projects{% endblock %}</b></h1>
        
        <div class="container">
        {% block content %}

            <div class="row ml-0 mr-0 mb-4" id="projects" style="width: 100%">

            {% for project in projects %}

                <div class="col-lg-3 col-md-6 col-sm-12 mt-4 myCol" style="position: relative; width: 100%">
                    <div class="card ml-0 mr-0" id="blink">
                        <img class="card-img-top" style="max-width: 100%; height: auto;" src="{{ project.thumbnail }}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{ project.name }}</h5>
                            <p class="card-text">{{ project.description }}</p>
                            <a href="{% url 'project' project.id %}" class="btn btn-primary">Open</a>
                        </div>
                    </div>
                </div>

            {% endfor %}

            </div>

        {% endblock %}
        </div>

        <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/mdb.min.js' %}"></script>
    </body>
</html>